version: '3.8'

services:
  jenkins:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: jenkins
    privileged: true
    ports:
      - "8080:8080"
      - "50000:50000"
    volumes:
      - jenkins_home:/var/jenkins_home
      # Mount the host Docker socket - THIS IS CRITICAL for Docker-in-Docker
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - DOCKER_HOST=unix:///var/run/docker.sock
    restart: unless-stopped
    # Note: Container will run as jenkins user (from Dockerfile)
    # The jenkins user is already added to docker group in the Dockerfile

volumes:
  jenkins_home:

